body {
    margin: 0;
    font-family: 'PT Sans';
}
button {
    font-family: inherit;
}
#header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    box-shadow: 10px 10px 30px #c4c4c4;
    margin-bottom: 2em;
    padding-right: 1em;
}
#logo-container {
    margin-right: auto;
    display: flex;
    max-height: 4em;
}
#nav-bar {
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#nav-bar a {
    margin-right: 0.5em;
    text-decoration: none;
    color: inherit;
}
#log-out-button {
    padding: 0;
    background-color: black;
    color: white;
    min-height: 3em;
    min-width: 10em;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
}