body {
    font-family: "PT Sans";
    margin: 0;
}
p {
    margin: 0;
}
#parameter-container label {
    display: inline-block;
}
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#work-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 0.75px #959595 solid;
    margin-bottom: 0.4em;
    height: 20em;
}
#prediction-area {
    width: 90%;
    border: 1.5px #959595 solid;
    border-radius: 10px;
    padding: 0.2em;
}
input:disabled {
    background-color: rgb(196, 194, 194);
    border: none;
}
#textarea-container {
    margin-bottom: 0.2em;
    flex: 1.75;
    border-right: 0.75px #959595 solid;
}
#textarea-container > textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    padding: 0;
}
#parameter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#prediction-container {
    width: 100%;
    padding: 0.2em;
    flex: 1;
    max-height: 100%;
    overflow-y: scroll;
}
.single-prediction-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1px 0 1px 0;
}
.single-prediction-container button {
    display: none;
}
.single-prediction-container:hover .prediction-button,
.prediction-button {
    display: inline-block;
    background-color: #e3e1e1;
    color: black;
    border: 0px;
    min-height: 2em;
    padding: 0;
    font-family: inherit;
}
.single-prediction-container:hover .prediction-button:hover {
    color: white !important; /* X button has inline style to be red, need to overwrite*/
}
.single-prediction-container:hover {
    background-color: #e3e1e1;
}
.progress-bar-wrapper {
    flex: 1;
    width: 100%;
}
.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    padding: 1px;
    border-radius: 3px;
}
.progress-bar-fill {
    display: block;
    height: 0.5em;
    background-color: #0cee41;
    border-radius: 3px;

    transition: width 500ms ease-in-out;
}
.prediction-text-container {
    flex: 2.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.prediction-buttons-container {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
#prev-predictions-container {
    margin-bottom: 0.6em;
    min-height: 5em;
    border: 1.5px #959595 solid;
    border-radius: 10px;
    padding: 0.2em;
    width: 80%;
}
#header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    box-shadow: 10px 10px 30px #c4c4c4;
    margin-bottom: 1.5em;
    padding-right: 1em;
}
button {
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 1em;
    min-height: 2em;
    padding: 0.75em 1.25em 0.75em 1.25em;
    font-family: inherit;
}
#logo-container {
    margin-right: auto;
    display: flex;
    max-height: 4em;
}
#log-out-button {
    padding: 0;
    background-color: black;
    color: white;
    min-height: 3em;
    min-width: 10em;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
}
.box-label {
    align-self: flex-start;
    margin-left: 10%;
    font-size: 1em;
}
#text-name {
    margin: 0.2em;
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
    height: 1.2em;
}
#editor:focus {
    outline: none;
}
#nav-bar {
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#nav-bar a {
    margin-right: 0.5em;
    text-decoration: none;
    color: inherit;
}
#lock-button {
    align-self: flex-start;
    margin-left: 6%;
    font-size: 1em;
}
#editor {
    font-size: 1em;
}
/* Animation styles for prediction loader */
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #0cee41;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    text-align: center;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
