<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-16" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT+Sans"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter"
    />
    <link
      rel="stylesheet"
      href={{url_for("static", filename="account.css")}}
    />
    <link rel="icon" href={{ url_for("static", filename="logo13pt.svg") }}/>
    <title>Account Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div id="header">
      <!-- <div id="logo-container">
        <a href="/">
          <img src={{ url_for("static", filename="logo13pt.svg") }}
          style="max-height: 4em;"/><img src={{ url_for("static",
          filename="logion-english.svg") }} style="max-height: 4em;"/><img src={{ url_for("static",
          filename="logion-greek.svg") }} style="max-height: 4em;"/>
        </a>
      </div> -->
  
        <a href="/" id="logo-container">
          <img src={{ url_for("static", filename="logo13pt.svg") }}
          style="max-height: 4em;"/><img src={{ url_for("static",
          filename="logion-english.svg") }} style="max-height: 4em;"/><img src={{ url_for("static",
          filename="logion-greek.svg") }} style="max-height: 5.1em;"/>
        </a>
  
      <button type="button" id="log-out-button">
        <strong>Log Out</strong>
      </button>
    </div>
    {% if current_user.is_authenticated %}
    <div id="main-content">
      <h1 style="font-weight: 300;font-style: normal;">Welcome, {{"%s" % user_first_name}}</h1>
      <a href={{url_for('project', user_id=user_id, text_id='newProject')}} id="new-project-link"
        ><img
          src="../static/plus.svg"
          style="max-width: 5em; display: block"
        />New Project</a
      >
      <h3 class="box-label">Saved Projects</h3>
      <div id="project-link-container">
        {% for row in text_array: %}
        <div class="project-link-row">
          <a class="project-link" href={{url_for('project', user_id=row['user_id'], text_id=row['text_id'])}}>{{"%s" % row['text_name']}}</a>
          <p class="date">{{"%s" % row['date']}}</p>
          <button type="button" class="delete-project-button" style="color: red; font-size: 1.2em;" onclick="handleDeleteClick(event)">&#x2715</button>
        </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
    Please log in
    {% endif %}
    <script src={{url_for("static", filename="account.js")}} async defer>
    </script>
  </body>
</html>
