<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-16" />
    <title>Home Landing Page</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div
      id="g_id_onload"
      data-client_id="492185340356-n66a7tlk0efi4ccds9pbfmo77rs5mjdq.apps.googleusercontent.com"
      data-login_uri = "/auth"
      data-auto_prompt = "false"
    ></div>
    
    <div
      class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left"
    ></div>
  </head>
  <body></body>
</html>
