<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-16" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT+Sans"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter"
    />
    <title>Home Landing Page</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <link rel="stylesheet" href={{url_for("static", filename="index.css")}} />
    <link rel="icon" href={{ url_for("static", filename="logo13pt.svg") }}/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src={{url_for("static", filename="index.js")}} async defer>
    </script>
  </head>
  <body>
    <div id="header">
      <div id="logo-container">
        <img src={{ url_for("static", filename="logo13pt.svg") }}
          style="max-height: 4em;"/><img src={{ url_for("static",
          filename="logion-english.svg") }} style="max-height: 4em;"/><img src={{ url_for("static",
          filename="logion-greek.svg") }} style="max-height: 5.1em;"/>
      </div>
      
      {% if current_user.is_authenticated %}
      <div id="nav-bar">
        <a style="border: 1.5px solid black; padding: 0.2em;border-radius: 0.8em;" href={{ url_for('account') }}>Account</a>
      <button type="button" id="log-out-button" onclick="handleLogOutClick()">
        <strong>Log Out</strong>
      </button>
      </div>
      {% else %}
      <div
        id="g_id_onload"
        data-client_id="492185340356-n66a7tlk0efi4ccds9pbfmo77rs5mjdq.apps.googleusercontent.com"
        data-login_uri="/auth"
        data-auto_prompt="false"
      ></div>

      <div
        class="g_id_signin"
        data-type="standard"
        data-size="medium"
        data-theme="filled_black"
        data-text="signin_with"
        data-shape="pill"
        data-logo_alignment="left"
      ></div>
      {% endif %}
    </div>

    <div id="main-content" style="display: flex; flex-direction: row; align-items: center; justify-content: center; flex-wrap: wrap;">
      <div id="text-container" style="max-width: 50%;">
        <p style="margin: 0;">LOGION is a cutting-edge NLP algorithm specifically developed for Ancient Greek text</p>
        <p>Developed by a team in the Princeton Classics Department, Logion provides a user-friendly way to
        query an AI model for help interpreting Ancient Greek texts.</p>
        <p>To get started, use Google sign-in to create a new account or sign in to your existing account.</p>
      </div>
      <div id="img-container" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
        <img src={{ url_for("static", filename="landing.gif") }}/>
      </div>
    </div>
  </body>
</html>
