<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-16" />
    <title>Project Page</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT+Sans"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
    <link rel="stylesheet" href={{url_for("static", filename="project.css")}} />
    <script
      src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"
      async
      defer
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div id="header">
      <div id="logo-container">
        <a href="/">
          <img src={{ url_for("static", filename="laurel.png") }}
          style="max-height: 4em;"/><img src={{ url_for("static",
          filename="text.png") }} style="max-height: 4em;"/>
        </a>
      </div>
      <button type="button" id="log-out-button">
        <strong>Log Out</strong>
      </button>
    </div>
    <div id="main-content">
      <div id="prediction-area">
        <div id="work-area">
          <div id="textarea-container">
            <textarea wrap="soft" id="editor">{{uploaded}}</textarea>
          </div>
          <div id="prediction-container">
            <div id="prediction-output"></div>
          </div>
        </div>
        <div id="parameter-container">
          <label>
            Prefix:
            <input type="text" disabled />
          </label>
          <label>
            Suffix:
            <input type="text" disabled />
          </label>
          <label for="token-number">
            Number of Tokens:
            <input type="num" id="token-number" />
          </label>
          <label>
            Distance:
            <input type="num" disabled />
          </label>
          <button
            type="button"
            id="predict-button"
            onclick="handlePredictClick()"
          >
            Predict
          </button>
        </div>
      </div>

      <p class="box-label">Saved Predictions</p>
      <div id="prev-predictions-container">
        {% for row in prediction_array: %}
        <p>{{"%s:" % row.prediction_name}} {{"%s" % row.prediction}}</p>
        {% endfor %}
      </div>
      <button type="button" onclick="handleSaveProjectClick()">
        Save Project
      </button>
    </div>
    <script src={{url_for("static", filename="project.js")}} async defer>
    </script>
  </body>
</html>
